<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="robots" content="index,follow">
	<meta name="Description" content="AgilityNerd is the oldest dog agility blog with articles on agility training, dog handling, agility courses, agility course analysis, agility equipment and agility videos.">
	<meta name="keywords" content="steve schwarz, agilitynerd, dog agility, dog agility training, dog agility video, dog agility blog, dog agility courses" />
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        {% assets filters="cssmin", output="css/style.%(version)s.min.css", "css/normalize.css", "css/skeleton.css", "css/style.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
</head>
<body id="index" class="home">
{% include 'github.html' %}
        <div class="container">
        {% block content %}
        {% endblock %}
        <footer>
                <div class="row footer">
                        <div class="twelve columns">Updated: {{ CURRDATE }}
                                <span class="u-pull-right">Steve Schwarz <a href="http://www.agilitynerd.com">AgilityNerd.com</a></span>
                        </div>
                </div>
        </footer><!-- /#contentinfo -->
        </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% assets filters="jsmin", output="js/main.%(version)s.min.js", "js/lodash.js", "js/main.js" %}
        <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
{% include 'analytics.html' %}
{% include 'disqus_script.html' %}
</body>
</html>
